:root {
	background-color: #000 !important;
}

body {
	background-color: #000
}

#console {
	font-family: courier, monospace;
	color: #fff;
	width:850px;
	margin-left:30px;
	margin-right:30px;
	margin-top:100px;
	margin-bottom:100px;
	font-size:14px;
}

a {
	color: #00FFF2;
	text-decoration: none;
}

#a {
	color: #0f0;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

#k {
    	animation: change 1s;
}

#op{
    	color: #888888;
}

#resume {
	color: #ff1414;
 font-weight: 620;
}

#skillHead {
	color: #ff772e;
}

#numb {
	color: #FF0046;
}

#importants {
	color: #FFF02E;
}

#proj {
	color: #00FFAE;
}

#companies {
	color: #ffffff;
 text-decoration-line: underline;
 text-decoration-style: solid;
 text-decoration-thickness: 1px;
 text-underline-position: under;
}

#position {
	color: #FF34BA;
}

#link {
	color: #FF0051;
}

#degree {
	color: #FFFC00;
{

#school {
	color: #ffffff;
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}
